.header__logo {
  background-image: url(../../../images/header-logo.svg);
  width: 176px;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 425px) {
  .header__logo {
    width: 142px;
  }
}
