.footer__list {
  display: flex;
  padding: 0;
  margin: 0;
}

@media (max-width: 720px) {
  .footer__list {
    flex-wrap: wrap;
  }
}



@media (max-width: 425px) {
  .footer__list {
    flex-direction: column;
  }
}
